<!DOCTYPE html>
<html>
<head>
<%= render :partial => 'layouts/header' %>
<%= yield :head %>
</head>
<body>

<%= render :partial => 'layouts/navbar' %>
<%= render :partial => 'layouts/carrossel' %>
<%= render :partial => 'layouts/container' %>
</body>
</html>



