<!DOCTYPE html>
<html lang="en">
  <head>

<%= render :partial => 'layouts/header' %>
<%= yield :head %>
</head>
<body style="padding-top:40px;">

<%= yield :content %>

<%= render :partial => 'layouts/container' %>

<%= yield :footer %>
</body>
</html>



