<!DOCTYPE html>
<html>
<head>
<%= render :partial => 'layouts/header' %>
<%= yield :head %>
</head>
<body>

<%= yield :content %>

<%= render :partial => 'layouts/container' %>

<%= yield :footer %>
</body>
</html>



