<!DOCTYPE html>
<html lang="en">
  <head>

<%= render :partial => 'layouts/header' %>
<%= yield :head %>
</head>
<body>

<%= yield :content %>

<%= render :partial => 'site/container' %>

<%= yield :footer %>
</body>
</html>



